PORT=PORT

QUEUE_NAME=QUEUE_NAME

HOST_NAME="localhost"
RABBIT_PORT="5672"
USER=USER
PASSWORD=PASSWORD

EMAIL=EMAIL
CLIENT_ID=CLIENT_ID
CLIENT_SECRET=CLIENT_SECRET
REFRESH_TOKEN=REFRESH_TOKEN
REDIRECT_URI="https://developers.google.com/oauthplayground"